pneumatic-samples/src/test/resources/data/item.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:complexType name="itemType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="count" type="xsd:integer" />
			<xsd:element name="price" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="items">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="item" type="itemType" minOccurs="1"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>